In [25]:
import pandas as pd

filename = "/Users/uuboy.scy/side-project/tibame/tjr103/data_pipeline/resources/holding.parquet"

df = pd.read_parquet(filename)

In [26]:
df.shape

(13461482, 9)

In [27]:
df

,portno,report_dt,security_rank,eff_dt,percent_tna,nbr_shares,market_val,security_name,cusip
0,2998623,2020/11/30,1,2021/01/08,2.55,7078982.0,3.103426e+08,GENERAL MOTORS CO,37045V10
1,2998623,2020/11/30,2,2021/01/08,1.98,3087680.0,2.412404e+08,COGNIZANT TECHNOLOGY SOLS CORP,19244610
2,2998623,2020/11/30,3,2021/01/08,1.89,3714760.0,2.296836e+08,MORGAN STANLEY DEAN WITTER & CO,61744644
3,2998623,2020/11/30,4,2021/01/08,1.75,2815186.0,2.132503e+08,PHILIP MORRIS INTERNATIONAL INC,71817210
4,2998623,2020/11/30,5,2021/01/08,1.65,5248941.0,2.011394e+08,CORTEVA INC,22052L10
...,...,...,...,...,...,...,...,...,...
13461477,3157350,2021/11/30,428,2021/12/21,0.11,25000.0,2.229475e+04,Bausch Health Companies Inc 5% 30-JAN-2028,071734AH
13461478,3157350,2021/11/30,429,2021/12/21,0.11,25000.0,2.148050e+04,Bausch Health Companies Inc 5.25% 30-JAN-2030,071734AJ
13461479,3157350,2021/11/30,429,2021/12/21,0.11,25000.0,2.148400e+04,Bausch Health Companies Inc 5% 15-FEB-2029,071734AM
13461480,3157350,2021/11/30,431,2021/12/21,0.10,25000.0,1.918738e+04,Endo DAC 6% 30-JUN-2028,29273DAC
13461481,3157350,2021/11/30,432,2021/12/21,0.08,25000.0,1.497188e+04,PBF Holding Company LLC 6% 15-FEB-2028,69318FAJ

In [28]:
df.head(3)

,portno,report_dt,security_rank,eff_dt,percent_tna,nbr_shares,market_val,security_name,cusip
0,2998623,2020/11/30,1,2021/01/08,2.55,7078982.0,3.103426e+08,GENERAL MOTORS CO,37045V10
1,2998623,2020/11/30,2,2021/01/08,1.98,3087680.0,2.412404e+08,COGNIZANT TECHNOLOGY SOLS CORP,19244610
2,2998623,2020/11/30,3,2021/01/08,1.89,3714760.0,2.296836e+08,MORGAN STANLEY DEAN WITTER & CO,61744644

In [29]:
df.tail()

,portno,report_dt,security_rank,eff_dt,percent_tna,nbr_shares,market_val,security_name,cusip
13461477,3157350,2021/11/30,428,2021/12/21,0.11,25000.0,22294.75,Bausch Health Companies Inc 5% 30-JAN-2028,071734AH
13461478,3157350,2021/11/30,429,2021/12/21,0.11,25000.0,21480.50,Bausch Health Companies Inc 5.25% 30-JAN-2030,071734AJ
13461479,3157350,2021/11/30,429,2021/12/21,0.11,25000.0,21484.00,Bausch Health Companies Inc 5% 15-FEB-2029,071734AM
13461480,3157350,2021/11/30,431,2021/12/21,0.10,25000.0,19187.38,Endo DAC 6% 30-JUN-2028,29273DAC
13461481,3157350,2021/11/30,432,2021/12/21,0.08,25000.0,14971.88,PBF Holding Company LLC 6% 15-FEB-2028,69318FAJ

In [30]:
df.columns

Index(['portno', 'report_dt', 'security_rank', 'eff_dt', 'percent_tna',
       'nbr_shares', 'market_val', 'security_name', 'cusip'],
      dtype='object')

In [31]:
df.dtypes

portno            object
report_dt         object
security_rank      int64
eff_dt            object
percent_tna      float64
nbr_shares       float64
market_val       float64
security_name     object
cusip             object
dtype: object

In [32]:
df[10:20]

,portno,report_dt,security_rank,eff_dt,percent_tna,nbr_shares,market_val,security_name,cusip
10,2998623,2020/11/30,11,2021/01/08,1.54,186854700.0,1.869642e+08,US Treasury 0.375% 30-Nov-2025,91282CAZ
11,2998623,2020/11/30,12,2021/01/08,1.52,6737689.0,1.842758e+08,WELLS FARGO & CO NEW,94974610
12,2998623,2020/11/30,13,2021/01/08,1.50,3968733.0,1.827205e+08,JOHNSON CONTROLS INTL PLC,G5150210
13,2998623,2020/11/30,14,2021/01/08,1.50,182211000.0,1.821434e+08,United States of America (Government) .125% 30...,91282CAX
14,2998623,2020/11/30,15,2021/01/08,1.50,583989.0,1.819243e+08,ANTHEM INC,03675210
15,2998623,2020/11/30,16,2021/01/08,1.46,1208147.0,1.778030e+08,QUALCOMM INC,74752510
16,2998623,2020/11/30,17,2021/01/08,1.43,1161825.0,1.735186e+08,GENERAL DYNAMICS CORP,36955010
17,2998623,2020/11/30,18,2021/01/08,1.39,5156744.0,1.684193e+08,CITIZENS FINANCIAL GROUP INC,17461010
18,2998623,2020/11/30,19,2021/01/08,1.36,165210387.0,1.652104e+08,Invesco Treasury Portfolio;Institutional,82525240
19,2998623,2020/11/30,20,2021/01/08,1.31,3420381.0,1.587741e+08,TRUIST FINANCIAL CORP,89832Q10

In [33]:
df.loc[10:20]

,portno,report_dt,security_rank,eff_dt,percent_tna,nbr_shares,market_val,security_name,cusip
10,2998623,2020/11/30,11,2021/01/08,1.54,186854700.0,1.869642e+08,US Treasury 0.375% 30-Nov-2025,91282CAZ
11,2998623,2020/11/30,12,2021/01/08,1.52,6737689.0,1.842758e+08,WELLS FARGO & CO NEW,94974610
12,2998623,2020/11/30,13,2021/01/08,1.50,3968733.0,1.827205e+08,JOHNSON CONTROLS INTL PLC,G5150210
13,2998623,2020/11/30,14,2021/01/08,1.50,182211000.0,1.821434e+08,United States of America (Government) .125% 30...,91282CAX
14,2998623,2020/11/30,15,2021/01/08,1.50,583989.0,1.819243e+08,ANTHEM INC,03675210
15,2998623,2020/11/30,16,2021/01/08,1.46,1208147.0,1.778030e+08,QUALCOMM INC,74752510
16,2998623,2020/11/30,17,2021/01/08,1.43,1161825.0,1.735186e+08,GENERAL DYNAMICS CORP,36955010
17,2998623,2020/11/30,18,2021/01/08,1.39,5156744.0,1.684193e+08,CITIZENS FINANCIAL GROUP INC,17461010
18,2998623,2020/11/30,19,2021/01/08,1.36,165210387.0,1.652104e+08,Invesco Treasury Portfolio;Institutional,82525240
19,2998623,2020/11/30,20,2021/01/08,1.31,3420381.0,1.587741e+08,TRUIST FINANCIAL CORP,89832Q10
20,2998623,2020/11/30,21,2021/01/08,1.25,2427798.0,1.514946e+08,BRISTOL MYERS SQUIBB CO,11012210

In [34]:
df[
    ["portno", "report_dt"]
]

           portno   report_dt
0         2998623  2020/11/30
1         2998623  2020/11/30
2         2998623  2020/11/30
3         2998623  2020/11/30
4         2998623  2020/11/30
...           ...         ...
13461477  3157350  2021/11/30
13461478  3157350  2021/11/30
13461479  3157350  2021/11/30
13461480  3157350  2021/11/30
13461481  3157350  2021/11/30

[13461482 rows x 2 columns]

In [35]:
# .loc
# .iloc

In [36]:
df.loc[10:20, ["portno", "report_dt"]]

     portno   report_dt
10  2998623  2020/11/30
11  2998623  2020/11/30
12  2998623  2020/11/30
13  2998623  2020/11/30
14  2998623  2020/11/30
15  2998623  2020/11/30
16  2998623  2020/11/30
17  2998623  2020/11/30
18  2998623  2020/11/30
19  2998623  2020/11/30
20  2998623  2020/11/30

In [37]:
df.iloc[10:20, [1, 2]]

     report_dt  security_rank
10  2020/11/30             11
11  2020/11/30             12
12  2020/11/30             13
13  2020/11/30             14
14  2020/11/30             15
15  2020/11/30             16
16  2020/11/30             17
17  2020/11/30             18
18  2020/11/30             19
19  2020/11/30             20

In [38]:
df["portno"].unique()

array(['2998623', '2998638', '2998809', ..., '315724e', '3157332',
       '3157350'], shape=(9453,), dtype=object)

In [39]:
df["cusip"].unique()

array(['37045V10', '19244610', '61744644', ..., '98163EAE', '03066RAC',
       '44891RAD'], shape=(257261,), dtype=object)

In [40]:
df.groupby(["portno", "eff_dt"])["percent_tna"].sum()

portno   eff_dt
2998623  2021/01/08     99.79
         2021/02/05     99.20
         2021/05/10     99.96
         2021/06/07     99.93
         2021/08/09     99.78
                        ...
3157308  2021/12/07    100.23
315732c  2021/12/07    100.12
3157332  2021/12/21     99.94
315733b  2021/12/07     99.73
3157350  2021/12/21     99.55
Name: percent_tna, Length: 59339, dtype: float64

In [41]:
df.groupby(["portno", "eff_dt"])["percent_tna"].std()

portno   eff_dt
2998623  2021/01/08    0.436449
         2021/02/05    0.441951
         2021/05/10    0.488893
         2021/06/07    0.483873
         2021/08/09    0.484353
                         ...
3157308  2021/12/07    0.925469
315732c  2021/12/07    6.030084
3157332  2021/12/21    0.031781
315733b  2021/12/07    2.035465
3157350  2021/12/21    0.203393
Name: percent_tna, Length: 59339, dtype: float64

In [42]:
df.groupby(["portno", "eff_dt"])["percent_tna"].std().index

MultiIndex([('2998623', '2021/01/08'),
            ('2998623', '2021/02/05'),
            ('2998623', '2021/05/10'),
            ('2998623', '2021/06/07'),
            ('2998623', '2021/08/09'),
            ('2998623', '2021/09/07'),
            ('2998623', '2021/10/07'),
            ('2998623', '2021/11/05'),
            ('2998623', '2021/12/07'),
            ('2998638', '2021/01/08'),
            ...
            ('3157242', '2021/12/07'),
            ('3157245', '2021/12/21'),
            ('315724b', '2021/12/21'),
            ('315724e', '2021/12/21'),
            ('3157305', '2021/12/07'),
            ('3157308', '2021/12/07'),
            ('315732c', '2021/12/07'),
            ('3157332', '2021/12/21'),
            ('315733b', '2021/12/07'),
            ('3157350', '2021/12/21')],
           names=['portno', 'eff_dt'], length=59339)

In [47]:
df.groupby(["portno", "eff_dt"]).agg({"percent_tna": ["sum"]}).reset_index()

        portno      eff_dt percent_tna
                                   sum
0      2998623  2021/01/08       99.79
1      2998623  2021/02/05       99.20
2      2998623  2021/05/10       99.96
3      2998623  2021/06/07       99.93
4      2998623  2021/08/09       99.78
...        ...         ...         ...
59334  3157308  2021/12/07      100.23
59335  315732c  2021/12/07      100.12
59336  3157332  2021/12/21       99.94
59337  315733b  2021/12/07       99.73
59338  3157350  2021/12/21       99.55

[59339 rows x 3 columns]

In [45]:
df.groupby(["portno", "eff_dt"], as_index=False)["percent_tna"].sum()

        portno      eff_dt  percent_tna
0      2998623  2021/01/08        99.79
1      2998623  2021/02/05        99.20
2      2998623  2021/05/10        99.96
3      2998623  2021/06/07        99.93
4      2998623  2021/08/09        99.78
...        ...         ...          ...
59334  3157308  2021/12/07       100.23
59335  315732c  2021/12/07       100.12
59336  3157332  2021/12/21        99.94
59337  315733b  2021/12/07        99.73
59338  3157350  2021/12/21        99.55

[59339 rows x 3 columns]

In [49]:
df.groupby(["portno", "eff_dt"], as_index=False).agg({"percent_tna": ["sum"]})

        portno      eff_dt percent_tna
                                   sum
0      2998623  2021/01/08       99.79
1      2998623  2021/02/05       99.20
2      2998623  2021/05/10       99.96
3      2998623  2021/06/07       99.93
4      2998623  2021/08/09       99.78
...        ...         ...         ...
59334  3157308  2021/12/07      100.23
59335  315732c  2021/12/07      100.12
59336  3157332  2021/12/21       99.94
59337  315733b  2021/12/07       99.73
59338  3157350  2021/12/21       99.55

[59339 rows x 3 columns]

In [52]:
df.groupby(["portno", "eff_dt"]).agg(percent_tna_sum=("percent_tna", "sum"))

                    percent_tna_sum
portno  eff_dt
2998623 2021/01/08            99.79
        2021/02/05            99.20
        2021/05/10            99.96
        2021/06/07            99.93
        2021/08/09            99.78
...                             ...
3157308 2021/12/07           100.23
315732c 2021/12/07           100.12
3157332 2021/12/21            99.94
315733b 2021/12/07            99.73
3157350 2021/12/21            99.55

[59339 rows x 1 columns]

In [53]:
df.groupby(["portno", "eff_dt"], as_index=False).agg(percent_tna_sum=("percent_tna", "sum"))

        portno      eff_dt  percent_tna_sum
0      2998623  2021/01/08            99.79
1      2998623  2021/02/05            99.20
2      2998623  2021/05/10            99.96
3      2998623  2021/06/07            99.93
4      2998623  2021/08/09            99.78
...        ...         ...              ...
59334  3157308  2021/12/07           100.23
59335  315732c  2021/12/07           100.12
59336  3157332  2021/12/21            99.94
59337  315733b  2021/12/07            99.73
59338  3157350  2021/12/21            99.55

[59339 rows x 3 columns]

In [ ]:
df.groupby("portno").size()

       portno  size
0     2998623  3114
1     2998638   853
2     2998809   276
3     2998821   629
4     2998923   385
...       ...   ...
9448  3157308   241
9449  315732c    32
9450  3157332   506
9451  315733b    16
9452  3157350   428

[9453 rows x 2 columns]

In [57]:
df.groupby(["portno", "eff_dt"], as_index=False)["percent_tna"].sum()

        portno      eff_dt  percent_tna
0      2998623  2021/01/08        99.79
1      2998623  2021/02/05        99.20
2      2998623  2021/05/10        99.96
3      2998623  2021/06/07        99.93
4      2998623  2021/08/09        99.78
...        ...         ...          ...
59334  3157308  2021/12/07       100.23
59335  315732c  2021/12/07       100.12
59336  3157332  2021/12/21        99.94
59337  315733b  2021/12/07        99.73
59338  3157350  2021/12/21        99.55

[59339 rows x 3 columns]

In [58]:
df.groupby(["portno", "eff_dt"])["percent_tna"].sum()

portno   eff_dt
2998623  2021/01/08     99.79
         2021/02/05     99.20
         2021/05/10     99.96
         2021/06/07     99.93
         2021/08/09     99.78
                        ...
3157308  2021/12/07    100.23
315732c  2021/12/07    100.12
3157332  2021/12/21     99.94
315733b  2021/12/07     99.73
3157350  2021/12/21     99.55
Name: percent_tna, Length: 59339, dtype: float64

In [59]:
df["portno"].value_counts()

portno
3062436    58487
314420d    44636
309585f    43616
314834d    38124
3101229    34556
           ...
3063531        1
309254a        1
3148737        1
3092553        1
3144213        1
Name: count, Length: 9453, dtype: int64

In [60]:
df.groupby("portno").size()

portno
2998623    3114
2998638     853
2998809     276
2998821     629
2998923     385
           ...
3157308     241
315732c      32
3157332     506
315733b      16
3157350     428
Length: 9453, dtype: int64